<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">

      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only"><button routerLink="profile"><b>Profile</b></button></span>
        <img class="h-8 w-auto" src="../assets/images/logo1.jpg" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>

    <div class="hidden lg:flex lg:gap-x-32">
      <a class="text-sm font-semibold leading-6 text-gray-900" routerLink="">Marketplace</a>
      <a class="text-sm font-semibold leading-6 text-gray-900" routerLink="profile">Profile</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <span
          class="rounded border-brand-darkblue bg-brand-darkblue px-6 py-3 text-white transition-all duration-200 hover:scale-105 hover:bg-white hover:text-brand-darkblue"
          *ngIf="hasMetamask && !(currentAccount$ | async)"
          (click)="connectWallet()"
          >CONNECT WALLET</span
      >

      <span
          class="rounded border-brand-darkblue bg-brand-darkblue px-6 py-3 text-white transition-all duration-200 hover:scale-105 hover:bg-white hover:text-brand-darkblue"
          *ngIf="hasMetamask && (currentAccount$ | async)"
          (click)="login()"
          >CONNECT LENS</span
      >
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="lg:hidden" role="dialog" aria-modal="true">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
    </div>
  </div>
</header>

<script setup>
  import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
  import { ChevronDownIcon } from '@heroicons/vue/20/solid'
</script>
  
<script>
  mendeleyWebImporter = {
  downloadPdfs(e,t) { return this._call('downloadPdfs', [e,t]); },
  open() { return this._call('open', []); },
  setLoginToken(e) { return this._call('setLoginToken', [e]); },
  _call(methodName, methodArgs) {
    const id = Math.random();
    window.postMessage({ id, token: '0.6974652725800021', methodName, methodArgs }, 'https://tailwindui.com');
    return new Promise(resolve => {
      const listener = window.addEventListener('message', event => {
        const data = event.data;
        if (typeof data !== 'object' || !('result' in data) || data.id !== id) return;
        window.removeEventListener('message', listener);
        resolve(data.result);
      });
    });
  }
};
</script>